.container {
    /* 1. aktifin flexbox */
    display: flex;
    /* 2. ngewrap flexnya */
    flex-wrap: wrap;

    /* kasih ukuran biar rapi */
    width: 500px;
    height: 500px;
    border: 5px solid black;

    
}

.square {
    /* atur tinggi dan lebar dan digunakan menggunakan cara satu di javascript*/
    width: calc(100% / var(--grid-rows));
    height: calc(100% / var(--grid-rows));
    /* tambahin border buat kotaknya */
    border: 1px solid grey;
    /* fungsinya untuk kalkulasi biar gak pusing aje. */
    box-sizing: border-box;
    /* box-sizing: content-box; */
}